<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<!-- 定义国际化消息 -->

	
	<!--  配置数据源 -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/webproject</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>1123581321</value>
		</property>
	</bean>	
	<!-- 配置Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/hibernate/beans/Expert.hbm.xml</value>
				<value>com/hibernate/beans/Administrator.hbm.xml</value>
				<value>com/hibernate/beans/Enterprise.hbm.xml</value>
				<value>com/hibernate/beans/Government.hbm.xml</value>
				<value>com/hibernate/beans/Maker.hbm.xml</value>
				<value>com/hibernate/beans/Field.hbm.xml</value>
				<value>com/hibernate/beans/Channel.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<!-- 配置事务 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>	
	
	<!-- 定义视图 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.InternalResourceView
			</value>
		</property>
		<!-- JSP都放在/目录下 -->
		<property name="prefix">
			<value>/jsp/</value>
		</property>
		<!-- JSP页面的后缀都四.JSP -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>	

<!-- 定义验证码类 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                    <props>  
                        <prop key="kaptcha.border">no</prop>  
                        <prop key="kaptcha.border.color">105,179,90</prop>  
                        <prop key="kaptcha.textproducer.font.color">red</prop>  
                        <prop key="kaptcha.image.width">80</prop>  
                        <prop key="kaptcha.textproducer.font.size">30</prop>  
                        <prop key="kaptcha.image.height">40</prop>  
                        <prop key="kaptcha.session.key">code</prop>  
                        <prop key="kaptcha.textproducer.char.length">4</prop>  
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>  

	<bean id="KaptchaAction"
			class="com.kaptcha.CaptchaImageCreateController">
	 		<property name="captchaProducer" ref="captchaProducer"/> 
	</bean>

	<bean id="kaptchaMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/kaptcha.do">KaptchaAction</prop>
			</props>
		</property>
	</bean> 
	
	<!--登陆监听器  -->
	<bean id="loginInterceptor" class="com.interceptor.LoginInterceptor"></bean>
	
	<!--登陆  -->
	<bean id="expertDAO" class="com.hibernate.dao.ExpertDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="ExpertDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="expertDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="administratorDAO" class="com.hibernate.dao.AdministratorDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="AdministratorDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="administratorDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="enterpriseDAO" class="com.hibernate.dao.EnterpriseDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="EnterpriseDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="enterpriseDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="governmentDAO" class="com.hibernate.dao.GovernmentDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="GovernmentDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="governmentDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="makerDAO" class="com.hibernate.dao.MakerDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="MakerDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="makerDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="loginMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/login.do">LoginAction</prop>
			</props>
		</property>
	</bean>
	<bean id="LoginAction"
			class="com.login.LoginAction">
			<property name="commandClass">
				<value>com.login.LoginForm</value>
			</property>
			<!-- 指定DAO类 -->
			<property name="expertDAO">
			<ref local="expertDAO" />
			</property>
			<property name="enterpriseDAO">
			<ref local="enterpriseDAO" />
			</property>
			<property name="makerDAO">
			<ref local="makerDAO" />
			</property>
			<property name="governmentDAO">
			<ref local="governmentDAO" />
			</property>
			<!-- 指定验证类 -->

			<!-- 指定失败要返回的页面 -->
			<property name="formView">
				<value>login</value>    
			</property>
	</bean>
	<!-- 创客注册跳转 -->
	<bean id="fieldDAO" class="com.register.FieldDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="FieldDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="fieldDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	<bean id="RegmakergoMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/regmakergo.do">RegMakerGoAction</prop>
			</props>
		</property>
	</bean>
	<bean id="RegMakerGoAction"
			class="com.register.RegMakerGoAction">
			<property name="fieldDAO">
				<ref local="fieldDAO"/>
			</property>
	</bean>
	<!--企业注册跳转  -->
	<bean id="channelDAO" class="com.register.ChannelDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="ChannelDAOProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="channelDAO" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>	
	<bean id="RegcompanygoMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/regcompanygo.do">RegCompanyGoAction</prop>
			</props>
		</property>
	</bean>
	<bean id="RegCompanyGoAction"
			class="com.register.RegCompanyGoAction">
			<property name="channelDAO">
				<ref local="channelDAO"/>
			</property>
	</bean>	
</beans>
